.button {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  .button-post-draft {
    text-align: left;
    float: left;
  }
  .button-create {
      text-align: right;
  }
  .button1 {
    border: none;
    font-size: 16px;
    border-radius: 4px;
    padding: 10px;
    margin-right: 12px;
    margin-top: 20px;
  }
  .buttonEdit {
    text-align: right;
  }
  .edit {
    background-color: #ffeaa7;
    margin-bottom: 8px;
    margin-top: -8px;
  }
  .post {
  background-color: #55efc4;
  }
  .draft {
   background-color: #74b9ff;
    }
  .create {
      background-color: #a29bfe;
      }
  .blogArticle {
    margin-top: 16px;
  }